html {
    scroll-behavior: smooth;
}

.header{
    background-image: url('img/bg-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    background-position: center;
}

.nav{
    margin: 0;
}
.nav .menu li{
    border: none;
}

.header_auth.logged_in ul{
    list-style-type: none;
}
.header_auth.logged_in ul li{
    margin: 0;
}
.header_auth.logged_in ul li a{
    color: #fff;
}

.header .header_top .header_language a{
    border: none;
    color: #fff;
}
.header .header_top .header_language a.active{
    background: #fff;
    color: #444;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background: unset;
    border-color: unset;
}

.dropdown-item {
    border: unset;
    white-space: unset;
}

::placeholder {
    color: #1F1F1F;
}

:-ms-input-placeholder {
    color: #1F1F1F;
}

::-ms-input-placeholder {
    color: #1F1F1F;
}

fieldset {
    border: unset;
}

.nav .menu li:hover>.sub_menu {
    /* width: 250px; */
}

/* .show{
    display: list-item !important;
} */
#pdfCanvasContainer {
    z-index: 99 !important;
    height: 1000px !important;
    /* margin-top: 35px!important; */
}

.alert-primary {
    background-color: #008283 !important;
    height: 40px !important;
    padding: 7px !important;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
}

.alert-primary a {
    color: #fff !important;

}

.footer .footer_bottom p,
.footer .footer_bottom a {
    text-transform: unset !important;
}

.nav {
    position: sticky;
    top: 0;
    z-index: 100;
}

.requirements_sidebar ul {
    position: sticky;
    top: 100px;

}

.mobMenu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.anchor:before {
    display: block;
    content: "";
    height: 100px;
    margin: -100px 0 0;
}

.requirements_sidebar ul {
    max-width: 95%;
}

.showEl {
    display: block !important;
}

.click {
    background-color: #E0E0E0 !important;
    color: #1F1F1F !important;
}

/*cite*/
.citation_formats_styles li {
    margin-bottom: 10px;
}

.citation_formats_styles {
    list-style: none;
}

.issue_content h5 {
    margin: 35px 0 10px 0;
    font-size: 20px;
}

.issue_content {
    margin: 0 0 40px !important;
}

.font-title .f-size, h2 {
    font-size: 40px;
    font-family: "Cambria";
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    color: #008283;
    margin: 0 0 30px 0;
}

.partners-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #3D3D3D;
}
.partners-wrap img{
    filter: grayscale(1);
    height: 44px;
}

.main_page_content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;

    .homepage_image {
        width: 30%;
    }

    .main_content {
        width: 70%;
    }
}

.nav .menu li.nmi_type_submissions {
    background-color: #008283;
/*     background-color: #FFBE98; */
}
.nav .menu li.nmi_type_submissions a {
/*     font-weight: 700; */
/*     color: #008283; */
    color: #fff;
}

.issue_author_block .download_pdf {
    display: none;
}
/*fixing styles 10-07-2024*/

/*fixing styles 10-07-2024*/
.header .header_top .header_logo img{
    padding: 15px 0;
    height: 100px;
}

.cmp_breadcrumbs{
    margin-top: 19px;
}

.csl-entry a{
    font-size: 14px;
}

@media (max-width: 769px) {

    .header .header_top .header_logo img {
        padding: 0;
        height: 60px;
    }
    .wrapper .main .issue_author_block .download_pdf {
        display: flex;
        align-items: center;
        border-radius: 41px;
        width: -moz-fit-content;
        width: fit-content;
        margin-bottom: 60px;
        border: 1px solid #000;
        padding: 10px;
        color: #1F1F1F;
    }
    .wrapper .main .issue_author_block .download_pdf img {
        margin-right: 12.5px;
    }
    .wrapper .main .sidebar .download_pdf{
/*         display: none; */
    }
    /*ашч ьщишду*/
    .wrapper .page_article .homepage_image img {
        max-height: 355px;
        width: 320px;
        object-fit: contain;
        margin-bottom: 20px;
    }
    .content_description  p{
        font-family: "Segoe UI", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #1F1F1F;
        text-align: left;
    
    }
    .wrapper .page_article .page_description p {
        margin-top: 40px;
    }
    .wrapper .main .sidebar p {
        font-family: "Segoe UI", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #1F1F1F;
        text-align: left;
    }
    .footer a, .footer p {
        font-family: "Segoe UI", sans-serif;
        font-style: normal;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        text-align: left;
    }
    .wrapper .page_article .page_description_bottom .search_btn:hover {
        background-color: unset;
    }
    .partners-wrap img{
        height: 23px;
    }

}


@media (max-width: 1024px) {

    .gradient_box {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 1px;
        right: 0;
        width: 70%;
        height: 48px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), white 100%);
    }

    .header .header_top {
        z-index: 101;
    }

    /*редколлегия*/
    .wrapper .page_article.bio_articles img {
        object-fit: cover;
    }

    /*редколлегия*/
    .active {
        top: 0;
    }

    .header {
        position: fixed;
        height: 77px;
        background-color: #F6F6F6;
        width: 100%;
        z-index: 105;
    }

    .header_logo {
        float: left;
        height: 57px;
        width: 80px;
    }

    .mobile_menu {
        margin-left: 100px;
        margin-top: 10px;
        float: right;
    }

    nav .container {
        position: fixed;
        width: 100%;
        margin-top: 180px;
    }

    .search_btn {
        cursor: pointer;
        padding: 11px;
        border: 1px solid #1F1F1F;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 5%;
        top: 0;
        margin-top: 5px;
    }

    .search_btn img {
        width: 18px;
        height: 18px;
    }


    .mobMenu {
        position: fixed;
        visibility: visible;
        opacity: 1;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        background-color: #865396;
        float: right;
        right: 10px;
        top: 75%;
        transition: all;
        z-index: 95;
        font-family: "Segoe UI", sans-serif;
        font-style: normal;
    }

    .mobMenu p {
        padding-top: 10px;
        text-align: center;
        color: var(--white, #FFF);
        font-family: "Segoe UI", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
    }

    .requirements_sidebar {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: all;
        z-index: 96;
    }

    .mobMenu:focus {
        height: 100%;
        width: 100%;
        float: none;
        top: 30px;
        right: 0;
        background-color: #F6F6F6;
        border-radius: 0%;
        overflow: auto;
    }

    .header .header_top .header_language {
        display: flex;
        position: absolute;
        right: 13%;
        left: auto;
        top: 8%;
        margin-top: 20px;
    }

    @media only screen and (max-width:768px) {
        .main_page_content {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            padding: unset;

            .homepage_image {
                width: unset;
            }

            .main_content {
                width: unset;
            }
        }

        .font-title .f-size {
            font-size: 28px;
        }

        h3 {
            font-family: "Cambria" !important;
        }
        .menuSection{
            position: relative;
        }
        .menuPage{
            position: relative;
        }
    }

    @media only screen and (min-width:428px) {
        .mobMenu:focus {
            top: 10px;
        }
    }

    .mobMenu:focus p {
        visibility: hidden;
    }

    .openMenu {
        /* position: relative; */
        top: 0px;
        margin-top: 0px;
        /* height: 2000px !important; */
        overflow-y: scroll;
    }

    .mobMenu.disabled {
        visibility: hidden !important;
        opacity: 0 !important;
    }

    .noScroll {
        overflow: hidden;
    }

    .container.background {
        background-color: #F6F6F6;
        max-height: 800px;
    }

    .nav .menu li .sub_menu {
        margin-top: 15px;
    }

    .nav .menu li {
        padding: 15px 0px 10px;
    }

    /* .mobMenu:focus ~ .requirements_sidebar{
        visibility: visible;
        opacity: 1;
        top: 20px;
        z-index: 499;
    } */
    h3 {
        font-family: "Cambria" !important;
    }
}

/* Библиографические ссылки */
/* .btn.btn {
    font-size: 1.5rem !important;
} */

.dropdown-menu {
    background-color: #FFF;
    border: 1px solid;
}

.citation_display [aria-hidden="false"]{
    display: block;
}


.citation_display .citation_formats {
    border: none;
}

.menuSection{
    margin-top: 50px;
}

.issue_author_block > .author + .author {
    margin-top: 40px;
}

.article-details-keywords-value{
    padding-top: 10px;
}



.issue_content .item.references{
    word-break: break-all;
}
.item.citation .btn.dropdown-toggle{
    white-space: normal;
}
.btn:hover, .btn:focus, .btn:active {
    color: #008283;
    border-color: #008283;
}

/* damir 30-01-2025 */
.wrapper .main > div{
    margin: 15px 0;
}
.wrapper .main .archive_content .archive_select li{
    font-size: 32px;
    padding: 15px;
}
.wrapper .main .archive_content .archive_select li ul > li a img{
    max-width: 120px;
}
.wrapper .main .archive_content .archive_select li ul > li{
    margin-bottom: 15px;
}
.wrapper .main .archive_content .archive_select li ul{
    margin-top: 15px;
}

.wrapper .page_article{
    padding: 20px 0 20px 0!important;
}

.wrapper .page_article .page_description_bottom .search_btn{
    margin-top: 0;
    top: -25px;
}

.issue_block{
    padding: 15px;
}
.wrapper .main .issue_content h4{
    line-height: 1em;
}

.wrapper .main .auth_content .checkbox{
    margin-top: 25px;
}

.person{
    float: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
    margin-bottom: 15px 0;
}
.person-name{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}
.person-img{
    float: left; 
    margin-right: 15px;
}


/* accent color 2025 */
/* start */
.nav{
    background: #4C5578;
}
.font-title .f-size, h2{
    color: #4C5578;
}
/* end */

@media (min-width:720px) {
    .issue_content .issue_info_block > .info_text{
        margin-top: 30px;
    }
    .issn{
        margin-top: 30px;
    }
    
}
